/* /Pages/Back.razor.rz.scp.css */
.page[b-n8fyc9dkjr] {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(ellipse at top right, #222, #111);
}

.flip-card[b-n8fyc9dkjr] {
    width: clamp(100px, 54.2857vh, 95vw); /* maintains same ratio as an actual business flip-card */
    height: clamp(175px, 95vh, 166.25vw);
    overflow: hidden;
}

.center-screen[b-n8fyc9dkjr] {
    position: fixed;
    top: max(38px, 50%);
    left: max(31px, 50%);
    transform: translate(-50%, -50%);
}

.flip-card-inner[b-n8fyc9dkjr] {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-back[b-n8fyc9dkjr] {
    background-color: white;
    color: black;
}

.flip-card-back[b-n8fyc9dkjr] {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

#content[b-n8fyc9dkjr] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#qr-code[b-n8fyc9dkjr] {
    width: clamp(46px, 23vh, 43.7vw);
    height: clamp(46px, 23vh, 43.7vw);
    position: absolute;
    margin-left: clamp(12px, 6.75vh, 12vw);
}

ul li[b-n8fyc9dkjr] {
    font-family: Consolas, 'Courier New', monospace;
    font-size: clamp(3px, 1.7vh, 3vw);
    line-height: clamp(4px, 2.125vh, 4vw);
    list-style-type: none;
    white-space: nowrap;
}

span.item-number[b-n8fyc9dkjr] {
    color: #999;
    border-right: 1px solid #999;
    padding-left: clamp(1.5px, .85vh, 1.5vw);
    padding-right: clamp(1.5px, .85vh, 1.5vw);
    margin-right: clamp(1.5px, .85vh, 1.5vw);
}

a[b-n8fyc9dkjr] {
    color: inherit;
    text-decoration: none;
}

.keyword[b-n8fyc9dkjr] {
    color: blue;
}

.class-name[b-n8fyc9dkjr] {
    color: rgb(43, 145, 175);
}

.comment[b-n8fyc9dkjr] {
    color: green;
}

.string[b-n8fyc9dkjr] {
    color: rgb(163, 21, 21);
}

/* Header / Footer graphics */

#logo-back[b-n8fyc9dkjr] {
    position: absolute;
    width: clamp(20px, 10vh, 20vw);
    height: clamp(20px, 10vh, 20vw);
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: firstAnima-b-n8fyc9dkjr 5s linear forwards normal;
}

@keyframes firstAnima-b-n8fyc9dkjr {
    to {
        stroke-dashoffset: 0;
    }
}

#top[b-n8fyc9dkjr], #bottom[b-n8fyc9dkjr] {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top[b-n8fyc9dkjr] {
    justify-content: flex-start;
    top: 0;
}

#bottom[b-n8fyc9dkjr] {
    justify-content: flex-end;
    bottom: 0;
}

#skills[b-n8fyc9dkjr] {
    color: gold;
    position: absolute;
    font-size: clamp(3px, 1.7vh, 3vw);
    margin-bottom: clamp(3px, 1.5vh, 3.75vw);
    text-transform: uppercase;
    text-align: center;
}
/* /Pages/Front.razor.rz.scp.css */
.flip-card[b-8zhztuvrim] {
    width: clamp(350px, 87.5vw, 166.25vh); /* maintains same ratio as an actual business card */
    height: clamp(200px, 50vw, 95vh);
}

.flip-card-inner[b-8zhztuvrim] {
    position: relative;
    width: 100%;
    height: 100%;
}

.flip-card-front[b-8zhztuvrim] {
    background: radial-gradient(ellipse at top right, #222, #111);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flip-card-front[b-8zhztuvrim] {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.center-screen[b-8zhztuvrim] {
    position: fixed;
    top: max(100px, 50%);
    left: max(175px, 50%);
    transform: translate(-50%, -50%);
}

h1[b-8zhztuvrim], h2[b-8zhztuvrim] {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: clamp(3px, .75vw, 1.5vh);
}

h1[b-8zhztuvrim] {
    font-size: clamp(36px, 9vw, 18vh);
    line-height: clamp(36px, 9vw, 18vh);
}

h2[b-8zhztuvrim] {
    font-size: clamp(18px, 4.5vw, 9vh);
    line-height: clamp(18px, 4.5vw, 9vh);
    margin-bottom: clamp(24px, 6vw, 12vh);
}

.hr[b-8zhztuvrim] {
    width: 90%;
    margin-top: clamp(8px, 2vw, 4vh);
    margin-bottom: clamp(6px, 1.5vw, 3vh);
    margin-left: 5%;
    margin-right: 5%;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    border: none;
    height: clamp(1px, .25vw, .5vh);
}

svg[b-8zhztuvrim] {
    width: clamp(60px, 15vw, 30vh);
    height: clamp(60px, 15vw, 30vh);
    margin: auto;
    align-self: center;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: firstAnima-b-8zhztuvrim 5s linear forwards normal;
}

svg > *[b-8zhztuvrim] {
    stroke-linecap: round;
}

@keyframes firstAnima-b-8zhztuvrim {
    to {
        stroke-dashoffset: 0;
    }
}
/* /Pages/Games.razor.rz.scp.css */
.card-title[b-f8io170f1f] {
    font-weight: 300;
    font-size: 2rem;
}

.product-card .card[b-f8io170f1f] {
    margin: 20px;
    overflow: hidden;
}

    .product-card .card .card-content[b-f8io170f1f] {
        padding: 5px;
    }

    .product-card .card .price[b-f8io170f1f] {
        width: 70px;
        height: 70px;
        font-weight: 600;
        font-size: 1.45rem;
        line-height: 70px;
        margin: 10px;
        position: absolute;
        top: 0;
        letter-spacing: 0;
    }

.product-card ul.card-action-buttons[b-f8io170f1f] {
    margin: -18px 7px 0 0;
    text-align: right;
}

    .product-card ul.card-action-buttons li[b-f8io170f1f] {
        display: inline-block;
        padding-left: 7px;
    }

.product[b-f8io170f1f] {
    width: 20%;
    padding: 10px;
}

    .product .card[b-f8io170f1f] {
        margin: 0;
    }

        .product .card .card-content[b-f8io170f1f] {
            padding: 5px 10px;
        }

.line-clamp-4[b-f8io170f1f] {
    line-height: 1.15em;
    max-height: calc(4 * 1.15em);
    overflow: hidden;
    position: relative;
}

.card-header[b-f8io170f1f] {
    background-color: #ccc;
}

.card-image[b-f8io170f1f] {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 5px;
}

.card-image img[b-f8io170f1f] {
    width: 100%;
    height: 270px; /* Increase the height slightly */
    object-fit: contain;
}

.card-subtitle[b-f8io170f1f] {
    color: #666;
    display: flex;
    gap: 1rem;
}

.card-subtitle-item > i[b-f8io170f1f] {
    font-size: 1rem;
    vertical-align: middle;
}

/* Add the following styles */

.game-grid[b-f8io170f1f] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.game-card[b-f8io170f1f] {
    flex: 0 0 calc(25% - 40px);
    max-width: calc(25% - 40px);
    margin: 10px;
}

    .game-card .card[b-f8io170f1f] {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

.card-content[b-f8io170f1f] {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Media queries for responsive design */

@media screen and (max-width: 1200px) {
    .game-card[b-f8io170f1f] {
        flex: 0 0 calc(33.333% - 40px);
        max-width: calc(33.333% - 40px);
    }
}

@media screen and (max-width: 991px) {
    .game-card[b-f8io170f1f] {
        flex: 0 0 calc(50% - 40px);
        max-width: calc(50% - 40px);
    }
}

@media screen and (max-width: 767px) {
    .game-card[b-f8io170f1f] {
        flex: 0 0 calc(100% - 40px);
        max-width: calc(100% - 40px);
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-b235frtndp] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-b235frtndp] {
    flex: 1;
}

.sidebar[b-b235frtndp] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-b235frtndp] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-b235frtndp]  a, .top-row[b-b235frtndp]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-b235frtndp]  a:hover, .top-row[b-b235frtndp]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-b235frtndp]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-b235frtndp] {
        display: none;
    }

    .top-row.auth[b-b235frtndp] {
        justify-content: space-between;
    }

    .top-row[b-b235frtndp]  a, .top-row[b-b235frtndp]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-b235frtndp] {
        flex-direction: row;
    }

    .sidebar[b-b235frtndp] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-b235frtndp] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-b235frtndp]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-b235frtndp], article[b-b235frtndp] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
