html {
  font-family : "Courier New",
                Courier,
                monospace;
  font-size   : 12px;
}

body {
  overflow-x       : hidden;
  background-color : white;
}

main {
  margin-bottom: -8rem;
}

p {
  text-align: justify;
}

.bkgd {
  z-index: 0;
  position: absolute;
  height: 12rem;
  width: 100%;
}

header {
  z-index  : 1;
  display  : flex;
  position : relative;
  height   : 10rem;
  text-align: center;
  color: white;
}

header .left img {
  max-width: 45%;
  height: auto;
  align-self: center;
  margin: auto;
}

header h1 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1rem;
}

header hr {
  width: 50%;
  padding: 0;
  border: 0;
  margin: 0 auto;
  height: 3px;
  background: goldenrod;
  background-image: linear-gradient(to right, gold, goldenrod, gold);
}

header h2 {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
}

section {
  z-index   : 1;
  display   : flex;
  position  : relative;
  margin: 2rem 0;
  flex-grow : 0;
}

.left li {
  margin-bottom: 1rem;
}

.box {
  display : flex;
}

.block {
  display : block;
}

.block,
.box {
  width   : 100%;
  margin  : 0;
  padding : 0;
  border  : 0;
}

.block img,
.box img {
  max-width : 100%;
  height    : auto;
}

.vert {
  flex-direction : column;
}

.between {
  justify-content : space-between;
}

.around {
  justify-content : space-around;
}

.center {
  justify-content : center;
}

.middle {
  align-content : center;
}

.left i {
  color: AntiqueWhite;
  background-color: black;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  text-align: center;
  padding-top: .35rem;
  margin-right: 1rem;
}

.link {
  margin-bottom: 2rem;
}

.link a {
  color: black;
  align-items: center;
}

.link:hover a {
  text-decoration: none;
  color: rgb(0,127,255);
}

.link:hover i {
  text-decoration: none;
  color: rgb(0,127,255);
}

.left {
  position         : relative;
  width            : 20rem;
  margin           : 0 2.5rem;
}

.heading {
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5rem;
}

.left .heading {
  text-align: right;
  padding: 0 0.5rem;
}

.left hr {
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0.5rem 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

hr {
  width: 100%;
  padding: 0;
  border: 0;
  margin: 0.5rem 0;
  height: 3px;
  background: #333;
}

.right .heading {
  text-align: left;
}

.spacer {
  width            : 3px;
  margin-left: 2rem;
  margin-right     : 4rem;
  background-color : black;
}

.spacer i {
  margin-left: -0.85rem;
  background-color: AntiqueWhite;
  border: 2px solid black;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  text-align: center;
  padding-top: .25rem;
}

.spacer img {
  display: flex;
  margin-left: -0.85rem;
  background-color: AntiqueWhite;
  border: 2px solid black;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  align-self: center;
}

.right {
  position         : relative;
  width            : 50%;
  flex-grow        : 1;
  margin-right: 2rem;
}

.logo {
  display          : flex;
  width            : 21rem;
  align-content    : center;
  justify-content  : center;
  margin-right: 2rem;
}

.logo img {
  align-self : center;
}

.chrono-l {
  width: 20rem;
}

.chrono-r {
  width            : 20%;
  flex-grow        : 1;
  margin-bottom: 2rem;
}

.right ul {
  width: 20%;
  flex-grow: 1;
}

li {
  display: flex;
}

.progress {
  display: flex;
  background-color: black;
  border-radius: .5rem;
  padding: 3px;
  width: 10rem;
  margin-right: 1rem;
}

.progress .fill-10 {
   background-color: green;
   width: 10%;
   height: 1rem;
   border-radius: .5rem;
}

.progress .fill-20 {
   background-color: green;
   width: 20%;
   height: 1rem;
   border-radius: .5rem;
}

.progress .fill-30 {
   background-color: green;
   width: 30%;
   height: 1rem;
   border-radius: .5rem;
}

.progress .fill-40 {
   background-color: green;
   width: 40%;
   height: 1rem;
   border-radius: .5rem;
}

.progress .fill-50 {
   background-color: green;
   width: 50%;
   height: 1rem;
   border-radius: .5rem;
}

.progress .fill-60 {
   background-color: green;
   width: 60%;
   height: 1rem;
   border-radius: .5rem;
}

.progress .fill-70 {
   background-color: green;
   width: 70%;
   height: 1rem;
   border-radius: .5rem;
}

.progress .fill-80 {
   background-color: green;
   width: 80%;
   height: 1rem;
   border-radius: .5rem;
}

.progress .fill-90 {
   background-color: green;
   width: 90%;
   height: 1rem;
   border-radius: .5rem;
}

.progress .fill-100 {
   background-color: green;
   width: 100%;
   height: 1rem;
   border-radius: .5rem;
}

/* TOP, BOTTOM AND CURVES */

.sidebar {
  position         : fixed;
  top              : 0;
  width            : 21rem;
  height           : 100%;
  margin           : 0 2rem;
  background-color : AntiqueWhite;
}

footer {
  height           : 12rem;
}
