.flip-card {
    width: clamp(350px, 87.5vw, 166.25vh); /* maintains same ratio as an actual business card */
    height: clamp(200px, 50vw, 95vh);
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.flip-card-front {
    background: radial-gradient(ellipse at top right, #222, #111);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.center-screen {
    position: fixed;
    top: max(100px, 50%);
    left: max(175px, 50%);
    transform: translate(-50%, -50%);
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: clamp(3px, .75vw, 1.5vh);
}

h1 {
    font-size: clamp(36px, 9vw, 18vh);
    line-height: clamp(36px, 9vw, 18vh);
}

h2 {
    font-size: clamp(18px, 4.5vw, 9vh);
    line-height: clamp(18px, 4.5vw, 9vh);
    margin-bottom: clamp(24px, 6vw, 12vh);
}

.hr {
    width: 90%;
    margin-top: clamp(8px, 2vw, 4vh);
    margin-bottom: clamp(6px, 1.5vw, 3vh);
    margin-left: 5%;
    margin-right: 5%;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    border: none;
    height: clamp(1px, .25vw, .5vh);
}

svg {
    width: clamp(60px, 15vw, 30vh);
    height: clamp(60px, 15vw, 30vh);
    margin: auto;
    align-self: center;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: firstAnima 5s linear forwards normal;
}

svg > * {
    stroke-linecap: round;
}

@keyframes firstAnima {
    to {
        stroke-dashoffset: 0;
    }
}
