@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
        <NavMenu />
    </div>*@
    <img class="bkgd" src="./images/bkgd.png" />
    <div class="sidebar"></div>

    <header class="box">
        <div class="box left vert desktop">
            <a href="me.vcf"><img src="./images/scan.png" alt="" title="vCard 3.0" /></a>
        </div>
        <div class="box left vert tablet">
            <h1>AARON DAY</h1>
            <hr />
            <h2>SOFTWARE ENGINEER</h2>
        </div>
        <div class="box right vert">
            <h1>AARON DAY</h1>
            <hr />
            <h2>SOFTWARE ENGINEER</h2>
        </div>
        <div class="logo">
            <img src="./images/logo.png" />
        </div>
    </header>
    <main>
        @*<div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>*@

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
